<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chating</title>
    <link rel="stylesheet" href="/static/main.css">
</head>
<body>
    <div class="messaging-container">
        <p id="newMessages"></p>
        <div id="loading" class="loading">...</div>
        <form id="message-form">
            <textarea id="message" placeholder="Type your message..." required></textarea>
            <button type="submit">Send</button>
        </form>
    </div>
    <script src="/static/main.js"></script>
</body>
</html>